$body-background-color: $gray-light-1;
$text-color: $gray-dark-3;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 13px;
}

body {
  background: $body-background-color;
  color: $text-color;
  font-family: $dinPro;
}

body *:focus {
  outline: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
