$footer-background-color: $gray-light-5;
$social-icons-background-color: $gray-light-3;

.footer {
  padding: 12px 0;
  background: $footer-background-color;
  .footer-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .social {
    }

    .footer-nav-menu {
      display: none;
    }
    .to-top {
      display: inline-block;
      width: 38px;
      height: 38px;
      line-height: 38px;
      text-align: center;
      border-radius: 50%;
      background-color: $social-icons-background-color;
      background-image: url('../img/footer-icons-sprite.png');
      background-repeat: no-repeat;
      background-position: 2px -139px;
      transition: 0.1s ease-in;
      &:hover {
        background-position: 2px -105px;
      }
    }
  }
}
