$main-content-top-border-color: linear-gradient(to right, $green-light, $blue);
$lead-slider-bg-color: $gray-light-2;
$lead-slider-border-color: $gray-light-6;
$lead-slider-nav-color: $gray-dark-1;
$owl-dot-background-color: $gray-dark-1;
$owl-dot-active-background-color: $green-light;

.main-content {
  &:before {
    content: '';
    display: block;
    height: 8px;
    width: 100%;
    background: $main-content-top-border-color;
  }
  //   Lead slider wrapper
  .lead-slider-wrapper {
    .lead-slider {
      .owl-stage-outer {
        overflow: initial;
      }
      .owl-dots {
        display: none;
      }
      .owl-nav {
        position: absolute;
        bottom: -60px;
        left: 0;
        width: 100%;
        color: $lead-slider-nav-color;
        font-size: 20px;

        .owl-prev,
        .owl-next {
          position: absolute;
          bottom: 50%;
          transform: translateY(-50%);
          &:hover {
            background: transparent;
            color: $lead-slider-nav-color;
          }
        }

        .owl-prev {
          left: 24px;
        }
        .owl-next {
          right: 24px;
        }
      }

      .lead {
        background: $lead-slider-bg-color url('../img/img-02.png') no-repeat center center;
        background-size: contain;
        border-bottom: 2px solid $lead-slider-border-color;
        padding: 12px 0;
        position: relative;

        &-img {
          width: 50%;
          margin: 0 auto;
        }
        &-title-wrapper {
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          border-bottom: 2px solid $lead-slider-border-color;
          .lead-title {
            text-transform: uppercase;

            &__small {
              padding: 24px 0;

              text-align: center;
              font-size: 1.38rem;
            }
            &__large {
              display: none;
            }
          }
        }
      }
    }
  }

  //About section
  .about,
  .work {
    padding-top: 80px;
    width: 70%;
    margin: 0 auto 20px auto;
    .section-title {
      text-align: center;
    }
    .info-img {
      margin-bottom: 8px;
    }

    #work {
      background-position: -10px -56px;
      transition: 0.1s ease-in;
      &:hover {
        background-position: -10px -0;
      }
    }
    #thumbs-up {
      background-position: -16px -377px;
      transition: 0.1s ease-in;
      width: 41px;
      &:hover {
        background-position: -16px -320px;
      }
    }

    .about-description {
      margin-bottom: 20px;
      text-align: right;
      &-title {
        text-align: left;
      }
      &-content {
        display: none;
      }
      .btn-info {
      }
    }
  }

  //Work section
  .work {
    padding-top: 0;
    .info-img {
      margin-bottom: 25px;
    }
    #calc {
      background-position: -10px -599px;
      transition: 0.1s ease-in;
      width: 40px;
      &:hover {
        background-position: -10px -544px;
      }
    }
    #clock {
      background-position: -10px -489px;
      transition: 0.1s ease-in;
      width: 44px;
      &:hover {
        background-position: -10px -434px;
      }
    }
    #cloud {
      background-position: -10px -161px;
      transition: 0.1s ease-in;
      width: 57px;
      &:hover {
        background-position: -10px -112px;
      }
    }
    #heart {
      background-position: -10px -265px;
      transition: 0.1s ease-in;
      width: 50px;
      &:hover {
        background-position: -10px -210px;
      }
    }
  }
}
@media only screen and (min-width: 480px) {
  .main-content {
    .lead-slider-wrapper {
      .lead-slider {
        .owl-nav {
          display: none;
        }

        .owl-dots {
          display: block;
          position: absolute;
          bottom: 13px;
          left: 0;
          width: 100%;

          .owl-dot span {
            width: 10px;
            height: 10px;
            margin: 5px 5px;
            background: $owl-dot-background-color;
            display: block;
            -webkit-backface-visibility: visible;
            transition: opacity 0.2s ease;
            border-radius: 50%;
          }
          .owl-dot.active span {
            background: $owl-dot-active-background-color;
          }
        }

        .lead {
          padding: 32px 0;
          position: relative;
          .row {
            align-items: center;
          }
          &-img {
            width: 100%;
          }
          &-title-wrapper {
            position: static;
            top: auto;
            left: auto;
            transform: translateX(0);
            border-bottom: none;
            .lead-title {
              &__small {
                display: none;
              }
              &__large {
                display: block;
                font-size: 2.89rem;
              }
            }
          }
        }
      }
    }
    //About section
    .about,
    .work {
      margin: 0 auto 6px auto;
      padding-top: 28px;
      width: 100%;

      .row {
        align-items: strecth;
      }

      .section-title {
        text-align: left;
        margin-bottom: 23px;
      }

      .info-img {
        margin-bottom: 40px;
      }

      .about-description {
        margin-bottom: 0;
        &-title {
          text-align: left;
          margin-bottom: 20px;
        }
        &-content {
          text-align: left;
          line-height: 1.5;
          margin-bottom: 10px;
          display: block;
        }
      }
    }

    //Work section
    .work {
      padding-top: 0;
    }
  }
}
@media only screen and (min-width: 768px) {
  .main-content {
    .lead-slider-wrapper {
      .lead-slider {
        .lead {
          padding: 70px 0;
          .lead-img {
            width: 90%;
          }
          .lead-title {
            &__large {
              font-size: 3.69rem;
            }
          }
        }
      }
    }
    .about,
    .work {
      width: 100%;
      padding-top: 48px;
      .section-title {
        font-size: 2.35rem;
      }
    }
    .work {
      padding-top: 0;
    }
  }
}
