$gray-light-1: #fafafa;//body color
$gray-light-2: #f3f3f3; // lead section slider background color
$gray-light-3: #f3f3f4; //footer social links and buttons background color
$gray-light-4: #e9e9e9; //images background color
$gray-light-5: #dbdbdb; // footer background color
$gray-light-6: #d5d5d5; //lead section border color
$gray-light-7: #c3c3c3;

$gray-dark-1: #a1a3a6; // nav and footer links color
$gray-dark-2: #646464; //main color
$gray-dark-3: #757575; //headings color

$green-light: #bcd546;
$blue: #1375b8;





